.hero__section_container{
  @media(max-width: 991px){
    width: 100%;
    background-image: url('/static/optimized/coworkers_happy-optimized.webp');
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
  }
}

  @media screen and (max-width: 450px) {
    .pg{
      display: flex;
      flex-direction: column-reverse;
    }
}