@import '../../../styles/sass/mixins';
@import '../../../styles/sass/variables';

.arrow {
    position: relative;
    height: 3rem;
    width: 10%;
    color: $primary-color-2;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    @media(max-width: 768px){
        width: 15%;
    }

    @media(max-width: 450px){
        width: 25%;
    }
}

.btn__container {
    @include flex-container-row;
}

.header {
    font-family: $font-header;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;

    &__active {
        opacity: 1;
        transition-duration: 1s;
        transform:scale(1.05);
    }
}

.slider {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.person {
    text-align: center;
    font-weight: bold;
}

.quote {

    &>img {
        color: $primary-color-2;
        height: 7rem;
        width: 7rem;
    }
}

.review__content {
    @include flex-container-row;
    flex-direction: column;
    height: auto;
}

.review__slides {
    @include flex-container-row;
    flex-direction: row;
}

.testimonial {
    margin: 2rem 0;
}

.wrapper {
    background-color: #fff;
}

@media only screen and (max-width: 1000px){
    .testemonial {
        margin: 1rem 0;
    }

    .slider {
        height: auto;
    }
}

@media only screen and (max-width: 767px){
    .slider {
        height: auto;
    }
}
@media only screen and (max-width: 600px) {
    .header {
        max-width: 80%;
    }
}

@media only screen and (max-width: 400px){

    .arrow__left{
        height: 2rem;
    }

    .arrow__right{
        height: 2rem;
    }

    .slider {
        height: auto;
    }

    .review__content {
        height: auto;
    }
}