@import '../../../styles/sass/variables';

.services__section_pricing_card{
  width: 30%;
  background-color: white;
  border-radius: $border-radius-md;
  box-shadow: $box-shadow;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover{
    transform: translateY(-5px);
  }

  @media(max-width: 1069px){
    width: 31%;
  }

  @media(max-width: 808px){
    width: 100%;
    margin-bottom: 3rem;
  }
}

.services__section_pricing_card_wrapper{
  height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media(max-width: 1200px){
    height: 30rem;
  }

  @media(max-width: 808px){
    height: 24rem;
  }
}

.services__section_pricing_card_btn{
  // width: 100%;
  background-color: $secondary-color;
  padding: 8px;
  border: none;
  color: white;
  border-radius: $border-radius-sm;
  cursor: pointer;

  &:hover{
    background-color: $secondary-color-2;
  }

  @media(max-width: 425px){
    font-size: 12px!important;
  }
}

.standard_card {
  border-top: 4px solid $secondary-color;
  position: relative;
}

.popular_badge {
  position: absolute;
  top: -15px;
  right: 20px;
  background-color: $secondary-color;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
}

.featured_card {
  border-top: 4px solid $secondary-color;
  position: relative;
}