@import '/styles/sass/variables';

.card {
    margin-bottom: 10rem;
    border-radius: 5px;
    box-shadow: $box-shadow;

    &__body{
        height: 35rem;

        @media screen and (max-width: 1399px){
            height: 39rem;
        }

        @media screen and (max-width: 1200px){
            height: 49rem;
        }

        @media screen and (max-width: 991px){
            height: auto;
        }

        @media screen and (max-width: 454px){
            .card__body{
                height: auto;
            }
        }
    }

    &__top__br{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

.secondary_color {
    background-color: $secondary-color!important;
}

.pill {
    padding: 4px;
}