@import '../../styles/sass/variables';

.btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #3d405b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
   }
   
   .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   .btn span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   .btn:hover span {
    padding-right: 15px;
   }
   
   .btn:hover span:after {
    opacity: 1;
    right: 0;
   }
   
  @media screen and (max-width: 485px) {
      .btn {
        font-size: 15px;
        padding: 10px;
        width: 105px;
      }
  }

  @media screen and (max-height: 500px){
      .btn {
        margin-top: 5px;
      }
    }
   
  