@import '../../styles/sass/mixins';
@import '../../styles/sass/variables';

.footer__class{
    @include flex-container-row;
    width: 100%;
    justify-content: center;
    background-color: $color-gray;
    border-color: $color-gray;
    min-height: 12vh;
    position: relative;
    z-index: 1;

    @media(max-width: 450px) {
        min-height: 18vh;
      }
}