@import '../../styles/sass/mixins';
@import '../../styles/sass/variables';

.footer__class{
    @include flex-container-row;
    width: 100vw;
    justify-content: center;
    background-color: $color-gray;
    border-color: $color-gray;
    height: 12vh;

    @media(max-width: 450px) {
        height: 18vh;
      }
}