@media screen and (max-width: 400px) {
  .btn {
    padding: 1em 2em;
  }
}

@media (max-width: 992px) {
  .btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.circle {
  width: 22rem;
  height: 22rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #ff6600;
  transform: translate(-50%, -50%);
  top: 80%;
  left: 50%;
  z-index: 20;
}
@media (max-width: 992px) {
  .circle {
    width: 16rem;
    height: 16rem;
  }
}
@media (max-width: 500px) {
  .circle {
    width: 14rem;
    height: 14rem;
  }
}
@media (max-width: 400px) {
  .circle {
    width: 11rem;
    height: 11rem;
  }
}

.inner_circle {
  width: 45%;
  height: 45%;
  background-color: #ff6600;
  z-index: 10000000;
}
@media (max-width: 500px) {
  .inner_circle {
    width: 45%;
    height: 45%;
  }
}
@media (max-width: 500px) {
  .inner_circle img {
    width: 2.4rem;
  }
}

.details {
  font-weight: bold;
  font-size: 4.4rem;
  font-family: "Ubuntu", sans-serif, sans-serif;
  display: flex;
  align-items: center;
  color: #000;
}
@media (max-width: 1200px) {
  .details {
    font-size: 3.6rem;
  }
}
@media (max-width: 992px) {
  .details {
    font-size: 3rem;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .details {
    font-size: 2rem;
  }
}
@media screen and (max-width: 300px) {
  .details {
    font-size: 2.5rem;
  }
}
@media screen and (max-height: 500px) {
  .details {
    font-size: 2rem;
    margin-top: 5px;
  }
}

.hero {
  background-color: #e3e3e3;
}
.hero__wrapper {
  justify-content: space-between;
}
@media (max-width: 992px) {
  .hero__wrapper {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
@media screen and (max-height: 500px) {
  .hero__wrapper {
    height: 175vh;
  }
}
.hero__btn_solid {
  padding: 1.4rem;
  background-color: #ff6600;
  border: 3px solid #ff6600;
  border-radius: 6px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .hero__btn_solid {
    font-size: 1.6rem !important;
  }
}
@media (max-width: 992px) {
  .hero__btn_solid {
    font-size: 1.4rem !important;
  }
}
@media (max-width: 500px) {
  .hero__btn_solid {
    padding: 1rem;
  }
}
.hero__btn_transparent {
  padding: 1.4rem;
  background-color: transparent;
  border: 3px solid #ff6600;
  color: #ff6600;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
@media (max-width: 1200px) {
  .hero__btn_transparent {
    font-size: 1.6rem !important;
  }
}
@media (max-width: 992px) {
  .hero__btn_transparent {
    font-size: 1.4rem !important;
  }
}
@media (max-width: 500px) {
  .hero__btn_transparent {
    padding: 1rem;
  }
}
.hero__btn_transparent:hover {
  background-color: #ff6600;
  color: #fff;
}

.hero__btn {
  width: 16rem;
}
@media (max-width: 400px) {
  .hero__btn {
    width: 12rem;
  }
}

.intro {
  font-weight: 100;
  font-size: 4rem;
  text-align: left;
}
@media (max-width: 1200px) {
  .intro {
    font-size: 3.4rem;
  }
}
@media (max-width: 992px) {
  .intro {
    text-align: center;
    font-size: 2rem;
  }
}
@media screen and (max-width: 300px) {
  .intro {
    font-size: 3rem;
  }
}
@media screen and (max-height: 500px) {
  .intro {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 1200px) {
  .lindy_container {
    width: 36rem;
  }
}
@media (max-width: 992px) {
  .lindy_container {
    width: 30rem;
  }
}
@media (max-width: 400px) {
  .lindy_container {
    width: 20rem;
  }
}

.link {
  text-decoration: none !important;
}

.nav {
  font-size: 2rem;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  font-family: "Ubuntu", sans-serif, sans-serif;
  transition: all 2s ease-in-out;
}

.subsubheading {
  font-size: 2rem;
  margin-top: 1.2rem;
}
@media (max-width: 1200px) {
  .subsubheading {
    font-size: 1.8rem;
  }
}
@media (max-width: 500px) {
  .subsubheading {
    text-align: center;
    font-size: 1.6rem;
  }
}
@media (max-width: 390px) {
  .subsubheading {
    font-size: 1.4rem;
  }
}

.sup {
  animation-name: wave;
  animation-duration: 2s;
  animation-delay: 1.8s;
  transform-origin: 70% 70%;
  display: inline-block;
}

.tidbits {
  top: 92%;
}
@media (max-width: 992px) {
  .tidbits {
    display: none !important;
  }
}
.tidbits__detail {
  font-size: 2rem;
}
.tidbits__heading {
  font-size: 1.6rem;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(16deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(16deg);
  }
  50% {
    transform: rotate(-6deg);
  }
  60% {
    transform: rotate(12deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media screen and (max-width: 700px) {
  .hero_text {
    font-size: 3rem;
  }
}
@media screen and (max-width: 400px) {
  .hero_text {
    font-size: 2.5rem;
  }
}

.rotating_text_circle {
  width: 200px;
  height: 200px;
}
@media (max-width: 992px) {
  .rotating_text_circle {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 500px) {
  .rotating_text_circle {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 400px) {
  .rotating_text_circle {
    width: 100px;
    height: 100px;
  }
}

.rotating_text_text {
  animation: anim 10s linear infinite;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotating_text_text span {
  left: 50%;
  font-size: 14px;
  transform-origin: 0 100px;
}
@media (max-width: 992px) {
  .rotating_text_text span {
    transform-origin: 0 75px;
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .rotating_text_text span {
    transform-origin: 0 60px;
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  .rotating_text_text span {
    transform-origin: 0 50px;
    font-size: 1rem;
  }
}/*# sourceMappingURL=Hero.module.css.map */