@import "../../styles/sass/mixins";
@import "../../styles/sass/variables";

.arc_text{
  position: relative;
}

.circle{
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #ff6600;
  transform: translate(-50%, -50%);
  top: 80%;
  left: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_circle{
  width: 45%;
  height: 45%;
  background-color: #ff6600;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume{
  position: absolute;
  top: 10%;
  font-size: 1.4rem;
  
}

.details {
  font-weight: bold;
  font-size: 4.4rem;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  // font-size: 3rem;
  // margin-top: 2rem;
  color: #000;
}

.hero {
  // @include flex-container-row;
  height: 100%;
  width: 100%;
  background-color: #e3e3e3;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;

  &_text {
    text-align: left;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // width: 100%;
    // align-items: center;
  }

  &__wrapper{
    display: flex;
    position: static;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &__btn_solid{
    padding: 1.4rem;
    background-color: #ff6600;
    border:3px solid #ff6600;
    color: white;
    border-radius: 6px;
    cursor: pointer;
  }

  &__btn_transparent{
    padding: 1.4rem;
    background-color: transparent;
    border:3px solid #ff6600;
    color: #ff6600;
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s ease-in;

    &:hover{
      background-color:  #ff6600;
      color: #fff;
    }
  }
}

.intro {
  font-weight: lighter;
  text-align: left;
  font-size: 4rem;
  color: #000;
}

.lindy_container{
  position: relative;
}

.link {
  text-decoration: none !important;
}

.nav {
  font-size: 2rem;
  @include flex-container-row;
  font-family: "Ubuntu", sans-serif;
  transition: all 2s ease-in-out;
}

.see_projects {
  padding: 1em 3em;
  font-size: 12px;
  // text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 2rem;

  &:active {
    transform: translateY(-1px);
  }

  &:hover {
    background-color: $secondary-color;
    box-shadow: 0px 10px 25px #ff6600;
    color: #fff;
    transform: translateY(-7px);
  }
}

.subsubheading{
  color: black;
  font-weight: lighter;
  font-size: 2rem;
  margin-top: 1.2rem;
}

.sup {
  animation-name: wave;
  animation-duration: 2s;
  animation-delay: 1.8s;
  transform-origin: 70% 70%;
  display: inline-block;
}

.tidbits{
  top: 92%;

  &__detail{
    font-size: 2rem;
  }

  &__heading{
    font-size: 1.6rem;
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(16deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(16deg);
  }
  50% {
    transform: rotate(-6deg);
  }
  60% {
    transform: rotate(12deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

//MEDIA QUERIES
@media screen and (max-width: 700px) {
  .intro {
    font-size: 4rem;
  }

  .hero_text {
    font-size: 3rem;
  }
}

@media screen and (max-width: 450px){
  .details {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .see_projects {
    margin-top: 1rem;
  }

  .hero_text {
    transform: translate(-50%, -50%);
  }

  .intro {
    margin-bottom: 1rem;
  }

  .details {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .intro {
    font-size: 3.5rem;
  }

  .hero_text {
    font-size: 2.5rem;
  }

  .btn {
    padding: 1em 2em;
  }
}

@media screen and (max-width: 428px) {
  .see_projects {
    padding: 1em 1.5em;
    font-size: 12px;
  }
}

@media screen and (max-width: 330px) {
  .see_projects {
    padding: .75em 1.25em;
    font-size: 11px;
  }
}

@media screen and (max-width: 300px) {
  .see_projects {
    padding: 1em 1em;
  }

  .details {
    font-size: 2.5rem;
  }

  .intro {
    font-size: 3rem;
  }
}

//MEDIA QUERIES BASED ON HEIGHT
@media screen and (max-height: 500px) {
  .hero {
    height: 175vh;
  }

  .intro {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .details {
    font-size: 2rem;
    margin-top: 5px;
  }

  .see_projects {
    font-size: 1rem;
  }
}

//Rotating text
.rotating_text_circle{
  position: relative;
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotating_text_text{
  width: 100%;
  height: 100%;
  position: absolute;
  animation: anim 10s linear infinite;
 
}

@keyframes anim{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.rotating_text_text span{
  position: absolute;
  left: 50%;
  font-size: 14px;
  transform-origin: 0 100px;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) and (max-height: 500px) {
  .hero_text {
    transform: translate(-50%, -55%);
  }
}
