.hab {
    cursor: pointer;
}

.logo {
    height: 4rem;
    width: 11rem;
    list-style: none;
}

.logo_wrapper{
    display: none!important;
    height: 4rem;
    margin: 5px 0;
}

@media screen and (max-width: 450px){
    .logo_wrapper {
        display: flex!important;
        justify-content: center;
        width:100%!important;
    }

    .logo_bar_container{
        position: fixed;
        width: 100%;
        z-index: 1000000;
        bottom: 93.25%;
        background-color: #fff;
    }
}