@import '../../styles/sass/mixins';
@import '../../styles/sass/variables';



.hab {
    cursor: pointer;
}

.logo {
    width: 5rem;
    height: 3.4rem;
    padding:0 !important;
    list-style: none;
    position:relative;
    font-weight: 800;
    // margin-left: 1.5rem;
    // transform: translate(-35rem, 1px);
}

// .nav_menu {
//     background-color: #fff;
//     width: 25%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: fixed;
//     top: 0;
// }



.nav_menu{
    background-color: #fff;
    width: 100%;
    z-index: 10;
    height: 4rem;
    position:relative;
    display: flex;
    // justify-content: center;
    align-items: center;
    // position: relative;
    top: 0;
    }

.nav_menu_items_wrapper{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.link_content {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
    list-style: none;
    transition: all 600ms;
}

.nav_text {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    justify-content: flex-start;
    align-items: center;
    padding: .8rem 0 .8rem 0;
    list-style: none;
    transition: all 600ms;
    letter-spacing: 0;
}

.nav_text a {
    text-decoration: none;
    color: #757575;
    font-size: 1.8rem;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.6rem;
    border-radius: 4px;
    cursor: pointer;

    & > span:hover  {
        font-weight: bolder;
        color: black;
        // transition: all 400ms ease-out;
        // letter-spacing: 1px;
    }
}

.active {
    font-weight: bolder;
    color: black !important;
    text-transform: uppercase;
    letter-spacing: 1px !important;
}

.nav_menu_items {
    list-style-type: none;
  display: flex;
  justify-content: space-apart;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 1399px){
    .active {
        letter-spacing: 0!important;
        cursor: default;
    }

    // .nav_menu{
    // background-color: #fff;
    // width: 100%;
    // z-index: 10;
    // height: auto;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // position: relative;
    // top: 0;
    // }

    .nav_text a {
        & > span:hover {
            letter-spacing: 0;
        }
    }

// .nav_menu_items {
//     display: contents;
// }
}

//MEDIA QUERIES

@media screen and (max-width: 925px){
    .link_content {
        display:none;
    }

    // .logo {
    //     transform: translate(-40rem, 2px);
    //     width: 46px;
    //     height: 33px;
    // }
}

// @media screen and (max-width: 865px){
//     .logo {
//         transform: translate(-37rem, 2px);
//     }
// }

// @media screen and (max-width: 810px){
//     .logo {
//         transform: translate(-34rem, 2px);
//     }
// }

// @media screen and (max-width: 745px){
//     .logo {
//         transform: translate(-31rem, 2px);
//     }
// }

@media screen and (max-width: 700px){
    .nav_text {
        display: unset;
    }
}

@media screen and (max-width: 575px){
    .nav_menu_wrapper{
        width: 85%;
    }
}

@media screen and (max-width: 450px){
    .logo {
        display: none;
    }

    .nav_container{
        position: fixed;
        top: 95%;
        left: 0;
        width: 100%;
        z-index: 1000000;
    }

    .nav_menu_wrapper{
        width: 100%; 
    }
}

@media screen and (max-width: 700px){

    .nav_text {
        display: unset;
    }
}