@import '../../styles/sass/mixins';
@import '../../styles/sass/variables';

.hab {
    cursor: pointer;
    // width: 100%;
    height: 100%;
    object-fit: contain; // Ensures SVG maintains aspect ratio
}

.logo {
    width: 5rem;
    height: 3.4rem;

    @media screen and (max-width: 450px){
        display: none;
    }
}

.nav_menu{
    z-index: 10;
    height: 4rem;
    top: 0;

    @media screen and (max-width: 450px){
        height: 5.5rem;
        top:-16px;
    }
}

.nav_menu_wrapper{
    @media screen and (max-width: 575px){
        width: 85%;
    }

    @media screen and (max-width: 450px){
        width: 100%; 
    }
}

.nav_menu_items_wrapper{
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 450px){
        width: 100%;
    }
}

.link_content {
    font-family: $font-body, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
    list-style: none;
    transition: all 600ms;

    @media screen and (min-width: 926px) and (max-width: 1399px){
        padding-left: 1rem;
    }

    @media screen and (max-width: 925px){
        display: none;
    }

    @media screen and (max-width: 450px){
        font-size: 1.4rem;
        display: block;
        padding-left: 0;
    }

    @media screen and (max-width: 300px){
        display: none;
    }
}

.submenu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    padding: 0.5rem 0;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (min-width: 451px) {
      top: 100%;
    }

    @media screen and (max-width: 450px) {
      bottom: 100%;
      box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
      width: 100%;
      left: 0;
      transform: translateX(0);
    }
  }

  .submenu_open {
    display: block;
  }
  
  .nav_text {
    &:hover {
      .submenu {
        @media screen and (min-width: 451px) {
            display: block;
        }
      }
    }
  }
  
  .submenu li {
    list-style-type: none;
    padding: 8px 0;
    text-align: center;
  }

.nav_text {
    display: flex;
    font-family: $font-body, sans-serif;
    justify-content: flex-start;
    align-items: center;
    padding: .8rem 0 .8rem 0;
    list-style: none;
    transition: all 600ms;
    letter-spacing: 0;

    & a {
        text-decoration: none;
        color: #757575;
        font-size: 1.8rem;
        width: 95%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 1.6rem;
        border-radius: 4px;
        transition: all 600ms;
        cursor: pointer;
    
        & > span {
            // Add initial state for text-shadow
            text-shadow: 0 0 0 transparent;
            transition: text-shadow 0.3s ease, color 0.3s ease;
            
            &:hover {
                text-shadow: 0 0 1px #000;
                color: black;
            }
        }

        @media screen and (max-width: 1399px){
            & > span:hover {
                letter-spacing: 0;
            }
        }

        @media screen and (min-width: 926px) and (max-width: 1399px){
            padding: 0 1rem;
        }

        @media screen and (max-width: 450px){
            padding: 0 .2rem;
        }
    }

    @media screen and (max-width: 700px){
        display: unset;
    }

    @media screen and (max-width: 450px){
        flex-direction: column;
        align-items: center;
    }
}

.nav_container{
    z-index: 100;
    box-shadow: $box-shadow;

    @media screen and (max-width: 450px){
        position: fixed!important;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1000000;
        box-shadow: $box-shadow-top;
    }
}

.active {
    font-weight: 500;
    color: black !important;
    text-transform: uppercase;
    letter-spacing: 1px !important;

    @media screen and (max-width: 1399px){
        letter-spacing: 0!important;
        cursor: default;
    }
}

.nav_menu_items {
  justify-content: space-apart;

  @media screen and (max-width: 450px){
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 925px){
    //transforms icons the primary color when they are deemed active
    img.active{
        filter: invert(40%) sepia(38%) saturate(2965%) hue-rotate(2deg) brightness(105%) contrast(102%);
    }
}