@import '../../styles/sass/variables';

.section{
    background-color: $color-gray;
    // min-height: 100vh;
    justify-content: center;
    overflow: scroll;
}

@media screen and (min-width: 1399px){
    .section {
        width: 100%;
        transform: translateX(0);
    }
}