@import '../../styles/sass/mixins';
@import '../../styles/sass/variables';

.flex_container{
    @include flex-container-col;
}

.icon {
    height: 2rem;
    width: 2rem;
}

.logo {
    font-size: 4rem;
    padding:0 !important;
    list-style: none;
    transform: translateX(1.5rem);
}

.navBar {
    background-color: gray;
    height: 8rem;
    display: inline-block;
    justify-content: flex-start;
    align-items: center;
}

.menu_bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav_menu {
    background-color: #fff;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

.nav_text {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    justify-content: flex-start;
    align-items: center;
    padding: .8rem 0 .8rem 1.6rem;
    list-style: none;
    transition: all 600ms;
    letter-spacing: 0;
}

.nav_text a {
    text-decoration: none;
    color: #757575;
    font-size: 1.8rem;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.6rem;
    border-radius: 4px;
    cursor: pointer;

    &:hover  {
        font-weight: bolder;
        color: black;
        transition: all 400ms ease-out;
        letter-spacing: 1px;
    }
}

.active {
    font-weight: bolder;
    color: black !important;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav_menu_items {
    width: 80%;
}

