$primary-color: #2ee59d;
$primary-color-2: #07c77a;
$secondary-color: #ff6600;

$color-gray: #e3e3e3;
$color-gray-2: #c3c3c3;

$font-body: "Ubuntu", sans-serif;
$font-header: "Lato", sans-serif;

$box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);

$margin-lg: 5rem;
$margin-md: 3rem;
$margin-sm: 2rem;

$padding-section: 13rem 0;
$padding-section-md: 10rem 0;
$padding-section-sm: 7rem 0;
$padding-section-xs: 5rem 0;
