@import "../styles/sass/variables";
@import "../styles/sass/mixins";

.about__card {
  background-color: #fff;
  @include flex-container-col;
  justify-content: center;
  align-items: flex-start;
  width: calc(100% - 15%);
  margin-top: 1rem;
  min-height: 40rem;
  padding: 3.5rem;
  border-radius: 2rem;
  box-shadow: $box-shadow;
}

.btn__container {
  @include flex-container-row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}

.details {
  background-color: #fff;
  transform: translateX(2rem);
  width: 93%;
  hyphens: auto;
}

.dev {
  font-size: 2rem;
  font-weight: 100;
}

.flex__container {
  @include flex-container-row;
  justify-content: flex-start;
  width: 85%;

  &Col {
    @include flex-container-col;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 2rem;
  }

  &__col {
    width: 85%;
    padding: $padding-section-md;
  }
}

.headings__container {
  @include flex-container-col;
  align-items: flex-start;
  text-align: left;
  justify-content: flex-start;
}

.icons {
  @include flex-container-row;
  justify-content: space-evenly;
  align-items: center;
  width: 10rem;
}

.lr {
  font-weight: bolder;
  font-size: 4rem;
  text-align: center;
}

.me {
  position: relative;
  border-radius: 50%;
}

//MEDIA QUERIES
@media screen and (max-width: 991px) {
  .about__card {
    padding: 6rem;
    width: 100%;
    transform: translateX(0);
  }

  .details {
    transform: translateX(0);

    & > p {
      font-size: 1.3rem !important;
    }
  }

  .flex__container {
    display: flex;
    position: relative;
    flex-direction: unset;
    flex-wrap: wrap;
  }

  .dev {
    font-size: 2rem;
    padding-top: 0 !important;
  }

  .img__holder {
    transform: translate(28rem, 7rem);
  }

  .lr {
    font-size: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .img__holder {
    transform: translate(19rem, 5rem);
  }
}

@media screen and (max-width: 600px) {
  .btn__container {
    padding-top: 0;
    flex-direction: column-reverse;
  }

  .details {
    text-align: center;

    & > p {
      transform: translateY(0);
      margin-bottom: 0 !important;
    }
  }

  .about__card {
    padding: 2rem;
    transform: translateX(0);
    align-items: center;
    width: 75%;
  }

  .flex__container {
    margin-top: 0;

    &Col {
      line-height: 1 !important;
      padding-left: 0;
      align-items: center;
    }
  }
}

@media screen and (max-width: 600px) {
  .skill__list{
    justify-content: center!important;
  }
}

@media screen and (max-width: 585px) {

  .about__card {
    padding: 3rem;
  }

  .dev {
    padding-top: 0 !important;
    z-index: 3;
    font-size: 1.5rem;
  }

  .img__holder {
    transform: translate(19rem, 5rem);
  }

  .lr {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1399px) {
  .flex__container__col {
    padding: 8rem 0;
  }
}

@media screen and (max-width: 767px) {
  .flex__container__col {
    padding: 7rem 0;
  }
}

@media screen and (max-width: 450px) {
  .pg{
    display: flex;
    flex-direction: column-reverse;
  }

  .flex__container__col {
    padding: 10rem 0;
  }
  
  .about__card {
    width: 100%;
    padding: 1.5rem;
  }
}