@import '../styles/sass/mixins';
@import '../styles/sass/variables';

.container {
    padding: 10rem 0;
    width: 85%;
}

.headings__container{
    @include flex-container-col; 
}

.main__flex {
    @include flex-container-col;
}

.pic__wrapper {
    @include flex-container-col;
    width: 46rem;
    // height: 46rem;
}

.contact__wrapper {
    border-radius: $border-radius-md;
    margin-top: 1rem;
    box-shadow: $box-shadow;
}

.shapes {
    border-radius: $border-radius-md 0 0 $border-radius-md;
}

//MEDIA QUERIES
@media screen and (max-width: 1399px) {
    .container {
        padding: 8rem 0;
    }
}

@media screen and (max-width: 991px) {
    .pic__wrapper {
        width: 60rem;
    }
}

@media screen and (min-width: 991px){
    .container{
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .pic__wrapper {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding: 7rem 0;
    }
}

@media screen and (max-width: 450px) {
    .pg_contact{
        display: flex;
        flex-direction: column-reverse;
    }

    .container {
        padding: 10rem 0;
    }
}