@import '../styles/sass/variables';

.motion {
    background-color: $color-gray;
}

@media screen and (max-width: 450px){
    .main{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
    }
}
