.main {
    height: 100%;
}

.motion {
    height: 100%;
    background-color: #e3e3e3;
}

.Typewriter{
    color: orange;
  }

@media screen and (max-width: 450px){
    .main{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        // align-items: center;
        height: 100%;
        width: 100%;
    }
}