@import '../styles/sass/mixins';
@import '../styles/sass/variables';

.border__grey{
    border: 1px solid #212529;
}

.project__filtering{
    font-size: 2.5rem;
    width: 75%;

    @media(max-width: 1399px){
        width: 85%;
    
    }

    @media(max-width: 1199px){
        width: 95%;
    
    }

    @media(max-width: 1099px){
        width: 100%;
    
    }

    @media(max-width: 629px){
        font-size: 2rem;
    }

    @media(max-width: 500px){
        font-size: 1.6rem;
    }
}

.nav__link {
    // transition: background-color 0.3s ease; 
    cursor: pointer; 
    position: relative;

    &:hover::before {
        width: 100%;
    }

    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 3px;
        bottom: 0;
        background-color: $primary-color-2;
        left: 0;
        transition: all .3s ease;
    }
}

.nav__link__active {

    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        bottom: 0;
        background-color: $primary-color-2;
        left: 0;
        transition: all .3s ease;
    }
}

.categoriesContainer {
    position: relative;
    display: flex; // Assuming a horizontal list
    gap: 10px; // Adjust as needed
  }
  
  .bgSlider {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: $primary-color; // Use your primary color here
    transition: left 0.3s ease, width 0.3s ease;
  }

.card {
    background-color: #fff;
    margin-bottom: 10rem;
    border-radius: 5px;
    box-shadow: $box-shadow;

    &__body{
        height: 35rem;
    }

    &__top__br{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &__heading {
        font-weight: bolder;
        text-align: center;
    }

    &__holder {
    @include flex-container-row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
    height: auto;
    flex-wrap: wrap;
    }
    
}

.secondary_color {
    background-color: $secondary-color!important;
}

.code {
    margin-right: 4rem;
}

.description {
    background-color: red;
    height: auto;
    padding: 1rem;
    border-radius: 0 0 5px 5px;
}

.flex__container {
    @include flex-container-row;
    width: 85%;
    justify-content: space-between;

    &__col{
        padding: 10rem 0;
        display: flex;
        position: relative;
        width: 85%;
        flex-direction: column;
    }

    @media(max-width: 992px){
        width: 100%;
        flex-wrap: wrap
    }

    @media(max-width: 513px){
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.flex__card__body {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headings__container{
    @include flex-container-col; 
    align-items: flex-start;
    text-align: left;
    justify-content: flex-start;
}

.link {
    text-decoration-color: black;
}

.pill {
    padding: 4px;
}

.preview {
    margin-bottom: 1rem;
}

@media screen and (max-width: 1399px){
    .card__body{
        height: 39rem;
    }

    .flex__container__col {
        padding: 8rem 0;
    }
}

@media screen and (max-width: 1200px){
    .card__body{
        height: 49rem;
    }
}

@media screen and (max-width: 991px){
    .card__body{
        height: auto;
    }
}

@media screen and (max-width: 767px) {
    .flex__container__col {
        padding: 7rem 0;
    }
}

@media screen and (max-width: 454px){
    .card__body{
        height: auto;
    }
}

@media screen and (max-width: 450px) {
    .pg_projects{
        display: flex;
        flex-direction: column-reverse;
    }

    .flex__container__col {
        padding: 10rem 0;
    }
}