@import "../styles/sass/variables";
@import "../styles/sass/mixins";

.flex__container {
    @include flex-container-row;
    width: 100%;
  
    &__col {
      width: 85%;
      padding: 10rem 0 6rem 0;
    }
  }

  @media screen and (max-width: 1399px) {
    .flex__container__col {
      padding: 8rem 0;
    }
  }
  
  @media screen and (max-width: 767px) {
    .flex__container__col {
      padding: 7rem 0;
    }
  }

  @media screen and (max-width: 600px) {
    .flex__container {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 450px) {
    .pg{
      display: flex;
      flex-direction: column-reverse;
    }
  
    .flex__container__col {
      padding: 10rem 0;
    }
}

.service__card{
  min-height: 48rem;
  width: 28rem;
  background-color: white;
  border-radius: $card-border-radius;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: $box-shadow;

  &:nth-child(3),
  &:nth-child(4){
    @media(max-width: 1099px){
      margin-top: 3rem;
    }
  }

  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4){
    @media(max-width: 804px){
      margin-top: 3rem;
    }
  }

  @media(max-width: 1399px){
    min-height: 53rem;
    width: 25rem;
  }

  @media(max-width: 1199px){
    min-height: 73rem;
    width: 22rem;
  }

  @media(max-width: 1099px){
    min-height: 16rem;
    width: 39rem;
  }

  @media(max-width: 992px){
    min-height: 29rem;
    width: 33rem;
  }

  @media(max-width: 804px){
    min-height: 18rem;
    width: 49rem;
  }
}

.service__card_icon{
  width: 4rem;
  height: 4rem;
}

.service__card_content_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 42rem;

  @media(max-width: 1399px){
    min-height: 47rem;
  }

  @media(max-width: 1199px){
    min-height: 68rem;
  }

  @media(max-width: 1099px){
    min-height: 33rem;
  }

  @media(max-width: 992px){
    min-height: 37rem;
  }

  @media(max-width: 804px){
    min-height: 25rem;
  }
}

.service__card_link{
  color: $secondary-color;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover{
    color: $secondary-color;
  }
}

.arrow__icon{
  transform: rotate(45deg) translateY(-2px);
}

.service__card_wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media(max-width: 804px){
    justify-content: center;
  }
}

.brands_section{
  background-color: white;
  height: 10vh;
}

.min-h-auto {
  min-height: auto!important;;
}

.services__section_container{
  width: 85%;
  padding: 6rem 0;
}

.w85{
  width: 85%;
}

.section__heading_header{
  font-size: 2.8rem;
}

.services__section_pricing_card{
  width: 30%;
  background-color: white;
  border-radius: $card-border-radius;
  box-shadow: $box-shadow;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover{
    transform: translateY(-5px);
  }

  @media(max-width: 1069px){
    width: 31%;
  }

  @media(max-width: 808px){
    width: 30rem;
    margin-bottom: 3rem;
  }
}

.link {
  text-decoration: none !important;
}

.services__section_pricing_card_btn{
  // width: 100%;
  background-color: $secondary-color;
  padding: 8px;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;

  &:hover{
    background-color: $secondary-color-2;
  }

  @media(max-width: 425px){
    font-size: 10px!important;
  }
}

.table-custom-padding tbody td, 
    .table-custom-padding tbody th, 
    .table-custom-padding thead th {
      padding-top: 1rem !important;  /* Adjust the value as needed */
      padding-bottom: 1rem !important;  /* Adjust the value as needed */
    }

.brands__section_logo{
  @media(max-width: 992px){
    width: 12rem;
    height: 10rem;
  }

  @media(max-width: 767px){
    width: 10rem;
    height: 8rem;
  }

  &_tt{
    @media(max-width: 992px){
      width: 12rem;
      height: 12rem;
    }
  
    @media(max-width: 767px){
      width: 10rem;
      height: 10rem;
    }
  }
}

.logo__holder{
  @media(max-width: 575px){
    flex-direction: column!important;

    & img{
      margin-bottom: 3rem;
    }
  }
}

.pricing_card_wrapper{
  @media(max-width: 808px){
    flex-direction: column!important;
    align-items: center;
  }
}

.services__section_pricing_card_wrapper{
  height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media(max-width: 1200px){
    height: 30rem;
  }

  @media(max-width: 808px){
    height: 24rem;
  }
}

.table{
  margin-bottom: 7rem!important;
}

.table_cell{
  cursor: pointer;
  transition: all 0.3s ease-in;


  &:hover{
    color: $tertiary-color-2;
  }
    @media(max-width: 425px){
    font-size: 10px!important;
  }
}

.table_cell_check{
  @media(max-width: 425px){
    width: 2rem;
  }
}

.secondary_hover{
  transition: transform 0.3s ease; 
  &:hover{
    color: $secondary-color-2;
  }
}